<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrznpxbXv22Dp-nlioHu7EC7Ui8Tjumew</string>
	<key>GCM_SENDER_ID</key>
	<string>866432989267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.folio</string>
	<key>PROJECT_ID</key>
	<string>folio-29339</string>
	<key>STORAGE_BUCKET</key>
	<string>folio-29339.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866432989267:ios:5e57bbd7e065e084d56ea6</string>
	<key>DATABASE_URL</key>
	<string>https://folio-29339-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>